* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

/* Mode Test */
/* .time__wrapper,
.time__wrapper > * {
  display: none;
} */

.container {
  position: absolute;
  top: 30vh;
  right: 200px;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.time__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  opacity: 0.4;
  font-size: 24px;
}

.time__wrapper:hover {
  opacity: 1;
}

.time__wrapper:hover #play {
  opacity: 1;
}

.hour {
  margin-top: 0;
  color: #fff;
  pointer-events: none;
  margin-right: 64px;
}

#play {
  opacity: 0.15;
  font-weight: 300;
  display: block;
  color: white;
  text-decoration: none;
  transition: opacity 0.5s;
}

button {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.arrow {
  width: 17px;
}

#left {
  left: 30px;
}

#left img {
  transform: rotate(180deg);
}

#right {
  right: 30px;
}

.desc {
  width: 40%;
  position: fixed;
  bottom: 100px;
  right: 80px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align-last: right;
}

.title {
  position: fixed;
  top: 80px;
  left: 40px;
  color: #fff;
  font-size: 24px;
  opacity: 0.4;
}

.date {
  position: fixed;
  bottom: 80px;
  left: 40px;
  color: #111;
}

.date p {
  margin-bottom: 12px;
}
